.banner-container {
    padding-top: 4em;
    padding-left: 100px;
    max-width: 100%;
    overflow-x: scroll;
  }
  .banner-container::-webkit-scrollbar{
      display: none;
  }
  .menuBar{
      width: 100%;
  }
  .banner-container .banner-child .menuBar {
    display: flex;
    padding: 10px 16px;
  }
  .arrow{
      font-size: 20px;
      font-weight: bold;
  }
  
  .banner-container .banner-child .menuBar .categoryMenu span {
    margin-right: 16px;
    font-weight: bolder;
  }

  .banner-container .banner-child .menuBar .options span {
    padding: 10px;
    cursor: pointer;
  }
  .banner-container .banner-child .menuBar .options span:hover {
      color: rgb(249, 118, 118);
  }
  
  .banner-child .banner {
    position: relative;
    width: 100vw;
  }
  .banner-child .banner img{
    width: 100vw;
  }
  
  
  @media only screen and (max-width: 997px) {
    .options {
      display: none;
    }
    .bannerChildDiv .banner {
      position: relative;
    }
  }
  @media only screen and (max-width: 700px) {
    .banner-container{
        padding-left: 10px;
    }
  }
  