.signup-container {
    border: 1px solid black;
    width: max-content;
    padding: 0px 50px;
    padding-bottom: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
  }
  
  .signup-container .input {
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    outline-color: transparent;
  }
  
  .signup-container button {
    width: 100%;
    height: 48px;
    background-color: #002f34;
    color: whitesmoke;
    font-weight: 900;
  }
  .signup-container button:hover {
    background-color: white;
    color: #002f34;
    border: 2px solid #002f34;
  }
  
  .signup-container a {
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  