img{
    height: auto;
}
.download img{
    border: 1px solid black;
    border-radius: 15px;
    margin-right: 5px;
}
.download{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}