.view-container {
  padding-top: 4em;
  display: flex;
}
.view-container .imageShowDiv {
  padding: 16px;
  width: 70vw;
}
.view-container .imageShowDiv img {
  width: 100%;
  height: 100%;
}

.view-container .rightSection {
  padding: 0;
  padding-left: 30px;
  margin-top: 3em;
}

.view-container .rightSection .productDetails :first-child {
  font-weight: 700;
  margin-bottom: 8px;
  color: #002f34;
  font-size: 34px;
  line-height: 32px;
  margin-bottom: 20px;
}

.view-container .rightSection .productDetails {
  border: 1px solid black;
  padding: 6px;
  border-radius: 6px;
  margin-bottom: 2em;
  width: 100%;
}

.view-container .rightSection .contactDetails {
  border: 1px solid black;
  padding: 6px;
  border-radius: 6px;
}

.viewParentDiv .rightSection .contactDetails :first-child {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #002f34;
  font-weight: 400;
  padding: 0;
}
