*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.location-search{
    position: relative;
}
.location-search input{
    border: 2px solid black;
    border-radius: 7px;
    height: 45px;
    padding-left: 35px;
}
.location-search i{
    position: absolute;
}
.location-search .search{
    left: 0;
    padding: 15px 10px;
}
.location-search .arrow{
    right: 0;
    padding: 15px 10px;
}
.items-search{
    position: relative;
    width: 50%;
}
.items-search .search-items{
    position: absolute;
    right: 0;
    top: 0;
    
    background: #000;
}
.items-search input{
    border: 2px solid black;
    height: 45px;
    border-radius: 8px;
    margin-left: 10px;
    width: 100%;
}