li{
    list-style: none;
    color: rgb(92, 91, 91);
    font-size: 15px;
}
.footerParentDiv {
    width: 100%;
    background: #ebeeef;
}
.list ul li{
    transition: 1.3s ease;
    cursor: pointer;
}
.list ul li:hover{
    transform: translateX(50px);
}
ul li i{
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4);
    border: 0.4px solid white;
    cursor: pointer;
    color: black;
}
ul li i:hover{
    border: 0.4px solid black;
}
ul li img{
    width: 120px;
    border: 1px solid black;
    margin-right: 2px;
    border-radius: 15px;
    cursor: pointer;
}
ul li img:hover{
    border: 1px solid rgb(49, 43, 223);
}
.footerParentDiv{
    background: whitesmoke;
}
.footerParentDiv .content .heading {
    font-size: 22px;
    font-weight: bolder;
}
.content .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #002f34;
    color: whitesmoke;
  }
  
.footer p {
    margin: 0;
  }
  